.place__image-item {
    margin: 0;
    min-width: 460px;
    min-height: 460px;
    width: 100%;
    grid-area: image;
}

@media screen and (min-width: 1280px) {
    .place__image-item {
        min-width: 460px;
        min-height: 460px;
    }
}


@media screen and (max-width: 1048px) {
    .place__image-item {
        min-width: 440px;
        min-height: 440px;
    }
}


@media screen and (max-device-width: 890px) {
    .place__image-item {
        min-width: 340px;
        min-height: 340px;
    }
}

@media screen and (max-width: 720px) {
    .place__image-item {
        min-height: 310px;
        min-width: 310px;
    }
}

@media screen and (max-width: 320px) {
    .place__image-item {
        min-height: 320px;
        min-width: 320px;
    }
}