@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);


.logo {
    width: 190px;
    height: 44px;
    background-image: url("../images/logo.svg");
}

.link {

}

/*PAGE STUFF*/
.page {
    background: #2A2C2F;
    color: #FFFFFF;
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}

}

.page__container {
    max-width: 1280px;
    margin: 0 auto;
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*HEADER BLOCK*/
.header {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 2 * 148px);
    margin: 34px auto 58px;

}

@media screen and (max-width: 1024px) {
    .header {
        width: calc(100% - 2 * 48px);
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        width: calc(100% - 2 * 24px);
        margin-bottom: 50px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        width: calc(100% - 2 * 16px);
    }
}

.header__links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.header__lang-link {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */
    text-align: right;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.header__lang-link:first-of-type {
    margin-right: 18px;
}


/*LEAD BLOCK*/
.lead {
    width: calc(100% - 2 * 148px);
    margin-bottom: 114px;

}

@media screen and (max-width: 1024px) {
    .lead {
        width: calc(100% - 2 * 48px);
        margin-bottom: 48px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        width: 100%;
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        margin-bottom: 64px;
    }
}

.lead__title {
    width: 720px;
    margin: 0 auto 32px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    /* or 104% */
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 640px) {
    .lead__title {
        width: 288px;
        font-size: 40px;
        line-height: 1.1;
        margin-bottom: 16px;
    }
}

.lead__subtitle {
    margin: 0 auto 64px;
    max-width: 620px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    /* or 120% */
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 640px) {
    .lead__subtitle {
        width: 288px;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 40px;
    }
}

.lead__figure {
    margin: 0 /*reset defaults*/
}

.lead__image {
    width: 100%;
    margin-bottom: 8px;
}

.lead__caption {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    /* identical to box height, or 140% */
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .lead__caption {
        margin-left: 24px;
    }
}


/*INTRO*/
.intro {
    margin-left: 148px;
    margin-bottom: 92px;
    max-width: 690px;
    align-self: start;

}

@media screen and (max-width: 1024px) {
    .intro {
        margin-left: 48px;
        width: calc(100% - 2 * 48px);
    /
    }
}

@media screen and (max-width: 768px) {
    .intro {
        width: calc(100% - 2 * 24px);
        margin-left: 24px;
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        width: calc(100% - 2 * 16px);
        margin-bottom: 64px;
        margin-left: auto;
        margin-right: auto;
    }
}

.intro__title {
    margin: 0 0 40px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    /* or 107% */
    color: #FFFFFF;

}

@media screen and (max-width: 640px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
}

.intro__subtitle {
    margin: 0 0 32px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    /* or 142% */
    color: #FFFFFF;
}

@media screen and (max-width: 640px) {
    .intro__subtitle {
        font-size: 24px;
        line-height: 30px;
    }
}

.intro__text {
    margin: 0 0 33px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    /* or 26px */
    color: #FFFFFF;
}

.intro__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.intro__list-item {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    color: #FFFFFF;
}

.intro__span-accent {
    /*pattern from project 1*/
    font-weight: normal;
}


/*PHOTO-GRID*/
.photo-grid {
    display: grid;
    width: calc(100% - 2 * 48px);
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
}

@media screen and (max-width: 768px) {
    .photo-grid {
        width: calc(100% - 2 * 24px);
    }

}

@media screen and (max-width: 320px) {
    .photo-grid {
        width: calc(100% - 2 * 16px);
    }

}

.photo-grid__item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

.photo-grid__image {
    width: 100%;
    height: 100%;
    /*max-height: 100%;*/
    object-fit: cover;
}

@media screen and (max-width: 320px) {
    .photo-grid__image {
        width: 288px;
        height: 216px;
    }
}


/*PLACES*/
.places {
    margin: 92px 0 0;
    padding: 0;
    width: calc(100% - 2 * 148px);
    box-sizing: border-box;
    list-style-type: none;

}

@media screen and (max-width: 1024px) {
    .places {
        width: calc(100% - 2 * 48px);
    }
}


@media screen and (max-width: 768px) {
    .places {
        width: calc(100% - 2 * 24px);
        margin-top: 88px;
    }
}

@media screen and (max-width: 320px) {
    .places {
        width: 100%;
        height: 100%;
        margin-top: 65px;
    }
}

.place {
    display: grid;
    grid-gap: 48px 40px;
    grid-template-columns: minmax(auto, 1fr) auto;
    grid-template-rows: auto auto;
    grid-template-areas:
            "title website"
            "image summary";
    margin-bottom: 80px;
    box-sizing: border-box;


}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 320px) {
    .place {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "title" "image" "summary";
        grid-gap: 32px;
        margin-bottom: 48px;
    }
}


.place__title {
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;

    grid-area: title;
}

@media screen and (max-width: 768px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 320px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        padding-left: 16px;
    }
}


.place__website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-area: website;
}

@media screen and (max-width: 320px) {
    .place__website {
        display: none;
    }
}

.place__url-heading {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.place__link {
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    text-decoration-line: underline;
    color: #FFFFFF;
}

.place__image-item {
    margin: 0;
    min-width: 460px;
    min-height: 460px;
    width: 100%;
    grid-area: image;
}

@media screen and (max-width: 1024px) {
    .place__image-item {
        min-width: 440px;
        min-height: 440px;
    }
}


@media screen and (max-width: 768px) {
    .place__image-item {
        min-width: 340px;
        min-height: 340px;
    }
}


@media screen and (max-width: 320px) {
    .place__image-item {
        min-height: 320px;
        min-width: 320px;
    }
}


.place__image {
    width: 100%;
    object-fit: cover;

}


.place__summary {
    grid-area: summary;
}


.place__paragraph {
    font-size: 18px;
    line-height: 163%;
    margin: 0;
}

.place__paragraph:not(:last-child) {
    margin: 0 0 26px 0;
}


@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 163%
    }
}


@media screen and (max-width: 320px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 163%
    }

}


/*COVER EXTRAS*/

.cover__link {
    margin-top: 92px;
    min-height: 740px;
    min-width: 1184px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-decoration: none;
    background-image: url("../images/__background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.cover__link:after {
    opacity: 0.3;
    content: "";
    background: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;

}

.cover__link:hover:after {
    opacity: 0.8;
}

/*Media Queries*/
@media screen and (max-width: 1024px) {
    .cover__link {
        min-height: 640px;
        min-width: 1024px;
    }
}


@media screen and (max-width: 768px) {
    .cover__link {
        min-height: 480px;
        min-width: 764px;
        margin-top: 89px;
    }
}


@media screen and (max-width: 320px) {
    .cover__link {
        min-height: 200px;
        min-width: 320px;
        margin-top: 65px;
    }
}

.cover__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0 0 32px;
    z-index: 2;

}


@media screen and (max-width: 768px) {

    .cover__title {
        font-size: 72px;
        line-height: 76px;
    }

}


@media screen and (max-width: 320px) {

    .cover__title {
        font-size: 32px;
        line-height: 35px;
    }

}



.cover__subtitle {
    max-width: 320px;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    text-align: center;
    z-index: 2;
}


@media screen and (max-width: 768px) {

    .cover__subtitle {
        font-size: 18px;
        line-height: 22px;
        /*max-width: 288px;*/
    }
}


@media screen and (max-width: 320px) {

    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        max-width: 288px;
        text-align: center;
    }
}

